language: julia
os:
  - linux
# - windows
  - osx
julia:
  - 1.0
notifications:
  email: false
addons:
  apt:
    packages:
    - hdf5-tools
  homebrew:
    packages:
    - hdf5

after_success:
    - julia -e 'using Pkg; Pkg.add("Coverage"); cd(Pkg.dir("FlashWeave")); using Coverage; Codecov.submit(process_folder())'
